
@mixin fullscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin m-transform($i){
	-webkit-transform: $i;
	-moz-transform: $i;
	-ms-transform: $i;
	-o-transform: $i;
	transform: $i;
}

@mixin m-prefix($a, $b, $c:0){
	$d: $b;
	@if $c != 0 {
		$d: #{$b},#{$c};
	};
	-webkit-#{$a}: $d;
	-moz-#{$a}: $d;
	-ms-#{$a}: $d;
	-o-#{$a}: $d;
	#{$a}: $d;
}



html {
	font-size: 16px;
	@media(max-width: 600px){
		font-size: 14px;
	}
}

$dosis: 'Dosis', sans-serif;
$lato: 'Lato', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$sourcesans: "Source Sans Pro", sans-serif;
$satisfy: "Satisfy", sans-serif;
$poiret: 'Poiret One', sans-serif;
.container {
	margin: 0;
	padding: 0;
	@include fullscreen;
	#root {
	    width: 100%;
	    height: 100%;
    	.loader {
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		width: 50px;
    		height: 50px;
    		transform: translate(-50%, -50%);
    		opacity: 0;
		    @include m-prefix(animation, opacity-in 0.75s 1s linear 1 normal forwards running);
    		hr {
    			@include fullscreen;
			    border: none;
			    margin: 0;
    			&:before {
	    			content: "";
	    			width: 10px;
	    			height: 10px;
	    			border-radius: 100px;
	    			top: 0;
	    			left: 0;
	    			position: absolute;
	    			background: white;
				    @include m-prefix(animation,loading 800ms infinite);
	    		}
			    @for $i from 1 through 12 {
			    	$spin: 360deg / 12 * $i;
			    	$delay: 0.75s / 12 * $i;
			    	&:nth-child(#{$i}){
			    		transform: rotateZ($spin);
			    		&:before {
				    		animation-delay: $delay;
				    	}
			    	}
			    }
    		}
    	}
	    .root-inner.loaded {
	    	display: block;
	    	&:before {
    		    content: "";
			    background: linear-gradient(301deg, #ccfffd, #5abdf5);
			    position: fixed;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
	    	}
	    	.loader {
	    		display: none;
	    	}
		    .header-bar {
    	        position: fixed;
			    width: 100%;
			    z-index: 100;
			    list-style: none;
			    text-align: right;
			    box-sizing: border-box;
			    padding: 10px 40px;
			    background: black;
			    margin: 0;
			    @media(max-width:600px){
			    	padding: 10px;
				    text-align: center;
			    }
			    li {
			        display: inline-block;
				    margin-left: 20px;
				    font-family: $lato;
				    text-transform: uppercase;
				    font-size: 0.7rem;
				    font-weight: bold;
				    letter-spacing: 2px;
				    color: white;
				    cursor: pointer;
				    transition: 0.15s;
				    padding-bottom: 4px;
		    	    border-bottom: 0px solid #5d5d5d;
				    @media(max-width:600px){
				    	margin: 0 5px;
					    font-size: 0.5rem;
					}
				    &.activePage {
			    	    border-bottom: 2px solid #5d5d5d;
					    padding-bottom: 2px;
				    }
			    }
		    }
		    .footer.app {
			    padding: 20px!important;
			    background: rgba(0, 0, 0, 0.7);
			    text-align: center;
			    display: block;
			    z-index: 1;
			    box-sizing: border-box;
			    transform: translate(0);
			    .button {
				    color: #616161;
			    }
			    .text-section {
				    padding-top: 50px!important;
				    padding-bottom: 90px!important;
			    }
			    .text-wrapper {
		    	    position: relative;
			    }
			    h3 {
		    	    color: white;
				    font-size: 0.8rem;
				    letter-spacing: 0.175em;
				    margin: 0;
				    text-transform: uppercase;
				    font-family: "Lato" !important;
				    font-weight: norma!important;
			    }
			}
			.app {
			    height: auto;
			    max-height: 200%;
			    min-height: 100%;
			    overflow: hidden;
			    @include  m-transform(translateX(0%));
			    opacity: 0;
z-index: 1;
cursor: default;
width: 100%;
// height: 100%;
top: 0;
border-radius: 0px;
left: 50%;
transition: 0.5s;
font-size: 0;
min-height: 100%;
padding: 0 20px;
box-sizing: border-box;
    // box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
				// &.active {
					opacity: 1;
				    h1, h2, h3, h4, h5, p {
				    	&.header {
				    		@media(min-width:600px){
							    @include m-prefix(animation, 0.5s header-grow 0.25s forwards);
					    	}
					    	@media(max-width:600px){
				    		    font-size: 2rem!important;
							    line-height: 2.75rem!important;
							    opacity: 1!important;
					    	}
					    }
				    }
					.button {
					    @include m-prefix(animation, partAppear 800ms forwards);
					    span {
						    @include m-prefix(animation, jumpButton 2s forwards linear infinite);
					    }
					    &:before {
						    @include m-prefix(animation, swipeButton 2s forwards linear infinite);
					    }
					}
				    h2 {
				    	span {
						    @include m-prefix(animation, jumpText 250ms forwards linear);
				    	}
				    }
				    p {
				    	span {
						    @include m-prefix(animation, jumpText 250ms forwards linear);
				    	}
				    }
				    @media(max-width:500px){
					    h2 {
					    	span {
							    @include m-prefix(animation, opacity-in 0.5s forwards);
							}
					    }
					}
				// }
			    &.page-0 {   
			    	.text-section {
					    padding-top: 280px !important;
					    padding-bottom: 240px !important;
					    @media(max-width:600px){
				    	    padding-top: 260px !important;
						    padding-bottom: 90px !important;
					    }
					    &:before {
				    	    content: "P";
						    font-size: 95px;
						    vertical-align: middle;
						    color: rgba(255, 255, 255, 0.7);
						    text-shadow: 10px 0px rgba(171, 178, 214, 0.5);
						    font-family: "Lato";
						    background: rgba(0, 0, 0, 0.6);
						    background: linear-gradient(301deg, #67daa5, #c4eba3);
						    width: 94px;
						    left: calc(50% - 47px);
						    height: 94px;
						    position: absolute;
						    z-index: 0;
						    top: 111px;
						    transform: rotateZ(45deg);
						    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
						    border-radius: 10px;
						    opacity: 0;
					    }
					    h2 {
						    color: #b6e8a3;
						    font-weight: bold;
						    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
					    	&.header {
							    color: rgba(255, 255, 255, 0.9);
							    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
					    	}
					    }
			    	}
					.text-wrapper {
						position: relative;
					}
					.paragraph {
						opacity: 0;
					}
			   //  	&:after {
			   //  		content: "";
			   //  		z-index: -1;
				  //   	position: absolute;
				  //   	top: 50%;
				  //   	left: 50%;
				  //   	width: 150%;
				  //   	height: 150%;
					 //    @include  m-transform(translate(-50%, -50%));
						// border-radius: 1000000px;
					 //    background: linear-gradient(301deg, #feffcb, #dcd0ff, #ffd2d2, #d2ffd2);
						// background-size: 1500%;
				  //   }
				    &.active {
				    	.text-section {
				    		&:before {
							    @include m-prefix(animation, 0.75s opacity-in 1s forwards);
				    		}
				    	}
						.paragraph {
						    @include m-prefix(animation, 0.75s opacity-in 1.5s forwards);
						}
				    	&:after {
						    @include m-prefix(animation, page-0 15s ease infinite, page-0-in 1s ease 1);
					    }
				    }
				}
				&.page-1 {
				    background: rgba(0,0,0,0.2);
					h2 {
						 color: #c6f9ff;
					}
				    .image {
			    	    box-shadow: 0 0 13px rgba(0,0,0,0.8);
					    box-sizing: border-box;
					    width: 20%;
					    border-radius: 1000px;
					    border: 3px solid #b6e8ed;
				    	opacity: 0;
				    	@media(max-width:600px){
				    		width: 40%;
				    	}
				    	&.active {
						    @include m-prefix(animation, 0.75s opacity-in 0s forwards);
				    	}
				    }
				    .paragraph {
				    	opacity: 0;
				    	&:first-of-type {
				    		float: left;
				    	}
				    	@media(max-width:600px){
				    		width: 100%;
				    		&:first-of-type {
							    padding: 40px 4% 0;
				    		}
				    	}
				    	// @media(min-width:600px){
				    	// 	text-align: right;
				    	// 	&:first-of-type {
				    	// 		text-align: left;
				    	// 	}
				    	// }
				    	&.active {
						    @include m-prefix(animation, 0.75s opacity-in 0s forwards);
				    	}
				    }
				}
				&.page-2 { 
					background: rgba(0, 0, 0, 0.5);
					h2 {
					    color: #d1fbff;
					}
					.works {
						font-size: 1rem;
						position: relative;
						.works-arrow {
							position: absolute;
						    top: calc(50% - 22px);
						    border: 30px solid rgba(255, 255, 255, 0.8);
						    border-top: 22px solid transparent!important;
						    border-bottom: 22px solid transparent!important;
						    cursor: pointer;
						    transition: 0.25s;
						    &.previous {
							    right: 97%;
							    border-left: none!important;
						    }
						    &.next {
							    left: 97%;
							    border-right: none!important;
						    }
						    &:hover {
					    	    border: 30px solid white;
							    transform: scale(1.2);
						    }
						    @media(max-width:600px){
						    	display: none;
						    }
						}
					    .works-inner-wrapper {
						    overflow: hidden;   
						    box-sizing: border-box;
						    @media(min-width:600px){ 
							    margin: 20px 45px;
						    }
					    	.works-inner {
							    @media(min-width:600px){
								    display: flex;
								    width: 400%;
								    background: rgba(0, 0, 0, 0.02);
							    }
								@media(max-width:600px){
								    margin: 0!important;
								}
								.work {
								    width: 48%;
								    margin: 0.25%;
								    cursor: pointer;
								    position: relative;
								    text-decoration: none;
									opacity: 0;
								    display: inline-block;
									// display: none;
									// &.visible{
									//     display: inline-block;
									// }
									@media(min-width:600px){
									    box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.1);
									}
									@media(max-width:600px){
										width: 100%;
									    margin: 10px 0;
									}
								    &:hover {
								    	.front {
								    		p {
								    			opacity: 1;
								    		}
									    	&:after {
											    opacity: 1;
									    	}
									    }
								    }
								    .front {
								    	transition: 0.5s;
									    box-sizing: border-box;;
									    @include  m-transform(rotateY(0deg));
									    &:after {
									        content: "";
										    background: rgba(62, 150, 198, 0.7);
										    position: absolute;
										    top: 0;
										    left: 0;
										    width: 100%;
										    height: 100%;
										    box-shadow: 0 9px 39px rgba(0, 0, 0, 0.1) inset;
										    opacity: 0;
										    transition: 0.25s;
									    }
									    p {
								    	    position: absolute;
										    color: white;
										    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
										    top: 50%;
										    left: 50%;
										    z-index: 100;
										    font-family: "Lato";
										    text-transform: uppercase;
										    transform: translate(-50%,-50%);
										    text-align: center;
										    font-size: 1.25rem;
										    letter-spacing: 0.3em;
										    width: 100%;
										    padding: 0px 5px 0 10px;
										    box-sizing: border-box;
										    font-weight: bold;
										    opacity: 0;
										    transition: 0.25s;
									    }
										.image {
									        width: 100%;
										    max-height: 310px;
										    padding-top: 0;
										    z-index: 1000;
										    display: inline-block;
										    background-size: cover;
										    background-repeat: no-repeat;
										    background-position: 50%;
										    display: block;
										}
									}
									.back {
									    transition: 0.5s;
									    box-sizing: border-box;
									    padding: 15px 25px 12px;
									    text-align: left;
									    background: #fff;
									    box-shadow: 0 -10px 39px rgba(0, 0, 0, 0.1) inset;
									    .name,.description {     
								    	    margin: 0;
								    	    color: #3f96c6;
										    color: rgba(0, 0, 0, 0.8); 
										    font-family: $lato;
										    letter-spacing: 3px;
										    text-align: left;
										    font-size: 0.9rem;
										    text-transform: uppercase;
										    font-weight: bold;
										    display: inline-block;
										    vertical-align: top;
										    @media(max-width:1000px){
											    font-size: 0.8125rem;
										    }
									    }
									    .description {    
									    	margin-top: 1px;
								    	    letter-spacing: 1.5px;
										    font-size: 0.75rem;
										    font-style: italic;
										    font-family: $dosis;
										    float: right;
										    color: rgba(0, 0, 4, 0.3);
										    @media(max-width:1000px){
											    display: none;
										    }
									    }
									}
								}
							}
					    }
					}
				    // &.active {
						.works {
							.work {
								&.active {
						    		@include m-prefix(animation, 1s opacity-in 0s forwards);
								}
							}
						}
				    // }
				}
				&.page-3 { 
					.text-section {
						h2 {
						    color: #387fa4;
						}
					    .skill {
					    	opacity: 0;
						    font-size: 0px;
						    transition: 1s;
						    width: 20%;
						    display: inline-block;
						    @media(max-width:750px){
						    	width: 50%;
						    }
						    .text-center {
						    	span {
						    		animation-delay: 0s!important;
						    	}
						    }
						    p {
							    width: 100%;
							    margin-bottom: 5px!important;
							    font-weight: bold;
							    text-align: center;
							    font-size: 0.8rem;
						    }
						    .description {
						    	color: white;
						    }
						    .stars {    
						    	// background: black;   
							    // border-radius: 6px;
							    color: #387fa4;
							    padding: 2px 0;
							    margin: 0 0 35px!important;
							    max-width: 90px;
							    .star {
							    	opacity: 0;
						    		font-family: lineAwesome;
								    display: inline;   
						    		&:after {
					    			    content: "\f318";
						    		}
						    		&.inactive {
						    			&:after {
						    				opacity: 0.3;
						    			}
						    		}
							    }
							}
					    }
					}



				    // &.active {
						.text-section {
						    .skill {
						    	&.active {
								    @include m-prefix(animation, 0.5s opacity-in 0s forwards);
								    .stars {    
									    .star {
										    @include m-prefix(animation, 0.5s opacity-in 0.2s forwards);
										    &:nth-child(2){
											    @include m-prefix(animation, 0.5s opacity-in 0.3s forwards);
										    }
										    &:nth-child(3){
											    @include m-prefix(animation, 0.5s opacity-in 0.4s forwards);
										    }
										    &:nth-child(4){
											    @include m-prefix(animation, 0.5s opacity-in 0.5s forwards);
										    }
										    &:nth-child(5){
											    @include m-prefix(animation, 0.5s opacity-in 0.6s forwards);
										    }
									    }
									}
								}
						    }
						}
					// }
				}
				&.page-4 {     
				    background: rgba(0, 0, 0, 0.2);
					.text-section {
						.text-wrapper {
						    h2 {
								 color: #71b977;
							    color: #ffe03c;
						    }
							.experience {
							    margin: 20px auto 0;
							    font-size: 0;
							    opacity: 0;   
							    box-shadow: 0 0 39px rgba(0,0,0,0.1);    
							    background: linear-gradient(301deg, #71b977, #4dc471);
							    @media(min-width:600px){
								    display: inline-flex;
								    align-items: center;
								    position: relative;
								}
							    &.one-col {
								    width: 50%;
								    display: inline-block;
								    .left-section {
								    	width: 100%;
								    }
							    }
							    // &.flipped {
							    // 	.left-section {
							    // 		left: initial;
							    // 		right: 0;
							    // 	}
							    // 	.right-section {
							    // 		margin-left: 0;
							    // 	}
							    // }
							    .left-section,.right-section {
								    box-sizing: border-box;
								    padding: 40px 4%;
								    @media(max-width:500px){
							    	    width: 100%!important;
									    margin-bottom: 10px;
							    	    p {
							    	    	text-align: center;
							    	    }
								    }
								    p {
									    width: 100%;
									    margin: 0;
									    color: white;
									    &.date{
									    	text-transform: uppercase;
										    font-size: 0.8rem;
										    color: #ffe879;
										    margin-top: 10px!important;
									    }
									    &.location {
									    	text-transform: uppercase;
										    font-size: 0.9rem!important;
									    }
									    &.position{ 
									    	text-transform: uppercase;
										    font-weight: lighter;
										    font-size: 1rem;
										    font-family: $lato;
										    letter-spacing: 0.3em;
									    }
									    &.message {
										    font-size: 0.8rem;
										    text-transform: none;
										    line-height: 1.5rem;
									    }
								    }
							    }
							    .left-section {   
								    height: 100%;
								    left: 0;
							    	box-shadow: 0 0 39px rgba(0,0,0,0.1);
								    @media(min-width:600px){
								    	width: 25%;
								    	position: absolute;
								    	display: inline-flex;
								    	align-items: center;
								    }
							    	p {
							    		text-align: center;
							    		font-family: $dosis;
									    line-height: 1.25em;
							    	}
							    }
							    .right-section {
								    @media(min-width:600px){
									    width: 75%;
									    margin-left: 25%;
									}
							    }
							}
						}
					}
				    // &.active {
						.text-section {
							.text-wrapper {
								.experience {
									&.active {
									    @include m-prefix(animation, 0.75s opacity-in 0s forwards);
									}
								}
							}
						}
				    // }
				}
				.text-section {
				    box-sizing: border-box;
				    text-align: center;
				    position: relative;
				    @include  m-transform(translateY(-50%));
					padding-top: 100px!important;
					padding-bottom: 100px!important;    
					max-width: 1000px;
					margin: 0 auto;
					transform: none;
					top: 0;
					@media(max-width: 600px){
						padding-top: 60px!important;
						padding-bottom: 60px!important;
					}
				}
				a,p,h1,h2,h3,h4,h5,input {
					font-weight: 100;
				    font-family: $dosis;
				}
			    .button {
			    	display: inline-block;
				    padding: 4px 10px 4px 10px;
				    font-family: $dosis;
				    font-size: 0.75rem;
				    letter-spacing: 2px;
				    text-transform: uppercase;
				    cursor: pointer;
				    opacity: 0;
				    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
				    position: absolute;
				    bottom: -70px;
				    overflow: hidden;
				    border-radius: 4px;
				    font-weight: bold;
				    background: white;
				    max-width: 0%;
				    max-height: 0%;
				    color: #4c97b8;
				    width: 130px;
				    text-decoration: none;
				    left: auto;
				    right: calc(50% + 5px);
				    border-bottom: 3px solid #89b8c0;
				    transition: 0.15s;
				    transition-timing-function: cubic-bezier(0.2, 2, 1, 2);
				    box-sizing: content-box;
				    &+ .button {
				    	left: calc(50% + 5px);
				    	right: auto;
				    }
				    span {
						position: relative;
					    line-height: 2rem;
						opacity: 0;
				    }
				    &:before {
					    content: " ";
					    height: 200%;
					    width: 1px;
					    position: absolute;
					    top: -50%;
					    left: -50%;
					    @include  m-transform(rotatez(45deg));
					    box-shadow: 11px 0px 14px 2px white;
				    }
				    &:hover {
					    border-bottom: 0px solid #89b8c0;
				    }
			    }
			    h2 {
				    margin: 0;     
				    margin-bottom: 50px;   
				    font-family: $satisfy;
				    font-size: 1.75rem;
				    color: white;
					&.header {
					    text-transform: uppercase;
					    color: white!important;
					    white-space: nowrap;
					    font-family: $lato;
					    font-weight: bold;
					    margin-bottom: 15px;
					    display: inline-block;
			    		opacity: 0;
			    		font-size: 16px;
					    padding-left: 12px;
					    span {    
					    	letter-spacing: 0.875rem;
						    &:hover {
						    	font-weight: bold;
						    }
						}
					    @media(max-width:500px){    
					    	line-height: 3.25rem;
						    margin-bottom: 20px;
					    }
					}
				    @media(max-width:500px){
				    	span {
					    	opacity: 0;
						}
					}
				    span {
				    	position: relative;
					    display: inline-block;
					    min-width: 0.25em;
				    	opacity: 0;
					    letter-spacing: 0.15rem;
						opacity: 1;
					    @include  m-transform(rotateY(-90deg));
					    @media(max-width:500px){
						    display: inline;
						    white-space: initial;
					    }
					}
			    }
			    p {
				    span {
				    	position: relative;
					    display: inline;
					    min-width: 0.25em;
				    	opacity: 0;
					    letter-spacing: 0.1rem;
						opacity: 1;
					    @include  m-transform(rotateY(-90deg));
					}
					&.paragraph {
					    text-align: center;
					    width: 40%;
					    box-sizing: border-box;
					    padding: 30px 4%;
					}
				    font-size: 0.8rem;
				    color: white;
				    font-family: $poiret;
				    width: 26%;
				    display: inline-block;
				    text-align: left;
				    line-height: 1.8em;
				    letter-spacing: 2px;
				    margin-right: 1%;
				    vertical-align: top;
				    padding-right: 1.5%;
				    margin-left: 1%;
				    white-space: normal;
				    margin: 3px 0!important;
				    &:last-of-type{
				    	border-right: 0;
				    }
			    }
				@for $i from 1 through 999 {
					.delay-#{$i} {
						animation-delay: #{$i/40}s!important;
					}
				}
			}
		}
	}
}

@keyframes loading {
	0% {
		width: 0px;
		height: 0px;
	}
	5% {
		width: 0px;
		height: 0px;
	}
	70% {
		width: 10px;
		height: 10px;
	}
	100% {
		width: 10px;
		height: 10px;
	}
}

@keyframes opacity-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes page-header-exit {
	0% {
	    font-size: 0px;
	}
	88% {
	    font-size: 0px;
	}
	89% {
	}
	100% {
	}
}

@keyframes change-z-index {
	0% {
		z-index: 0;
	}
	99% {
		z-index: 0;
	}
	100% {
		z-index: 2;
	}
}


@keyframes header-grow {
	0% {
		opacity: 0;
	    font-size: 15px;    
	    line-height: 3.25rem;
	}
	100% {
		opacity: 1;
	    font-size: 2.625rem;    
	    line-height: 3.25rem;
	}
}

@keyframes page-0-in {
	0% {
		width: 0;
		height: 0;
	}
	30% {
		width: 0;
		height: 0%;
	}
	100% {
		width: 150%;
		height: 150%;
	}
}

@keyframes page-0 {
	0%{
    	background-position:0% 31%
    }
    50%{
    	background-position:100% 70%
	}
    100%{
    	background-position:0% 31%
    }
}

@keyframes jumpText {
	0% {
		// opacity: 0;
	}
	69% {
	}
	100% {
		// opacity: 1;
	    @include  m-transform(rotateY(0));
	}
}

@keyframes jumpButton {
	0% {
		top: 0;
		opacity: 1;
	}
	5% {
		top: -3px;
	}
	10% {
		top: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes swipeButton {
	0% {

	}
	25% {
		left: 150%;
	}
	100% {
		left: 150%;
	}
}


@keyframes display-before {
	0% {
		display: none;
	}
	99% {
		display: none;
	}
	100% {
		display: block;
	}
}

@keyframes partAppear {
	0% {
	    opacity: 0;
	}
	20% {
	    opacity: 1;
	    max-width: 0%;
	    max-height: 0%;
	}
	30% {
	    opacity: 1;
	    max-width: 100%;
	    max-height: 0%;
	}
	40% {
	    opacity: 1;
	    max-width: 100%;
	    max-height: 0%;
	}
	100% {
	    opacity: 1;
	    max-width: 100%;
	    max-height: 100%;
	}
}

@keyframes menuRotate {
	0% {
	    @include  m-transform(translate(-50%, -50%)rotateY(0deg));
	}
	100% {
	    @include  m-transform(translate(-50%, -50%)rotateY(-360deg));
	}
}

