

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'Roboto Light';
	src: url('/fonts/Roboto-Light.ttf')  format('truetype');
}


$primary-text: #555;
$secondary-text: #aaa;
$unimportant-text: #ccc;
$disabled-button: #bfbfbf;
$accent: #eb4a42;
$light-background: #eaeaea;
$disabled-button-background: #e0e0e0;

$Roboto: 'Roboto', helvetica, arial, sans-serif;
$RobotoLight: 'Roboto Light', helvetica, arial, sans-serif;
$Montserrat: 'Montserrat', helvetica, arial, sans-serif;

html {
	font-size: 16px;
	@media(max-width: 680px){
	    font-size: 14px;
	}
	@media(max-width: 500px){
	    font-size: 12px;
	}
	@media(max-width: 400px){
	    font-size: 11px;
	}
}

body {    
	font-family: $Roboto;
    max-width: 660px;
    margin: 25px auto;
}

section {
	display: grid;
    padding: 15px 20px;
}

.col-2,.col-3 {
	text-align: center;
}

.header-section {
    grid-template-columns: min-content auto max-content;
    align-items: baseline;
    @media(max-width:500px){
	    display: block;
	    text-align: center;
    }
	h1 {
		margin: 5px 0;
		font-family: $Montserrat;
	    font-size: 2.938rem;
	    line-height: 1.125em;
	    color: $accent;
	    display: inline-block;
	    border-radius: 3px;
	    position: relative;
	    &:after {
		    content: "";
		    position: absolute;
		    bottom: 0;
		    width: 100%;
		    height: 4px;
		    left: 0;
		    background: $accent;
		    border-radius: 3px;
	    }
	}
	p {
		margin: 5px 0;
		font-family: $RobotoLight;
		color: $secondary-text;
		grid-column: 3;
	}
}

.previous-section {
    grid-template-columns: max-content 25px max-content;
    align-items: center;
	font-family: $RobotoLight;
	.previous {
	    font-size: 1.375rem;
		color: $primary-text;
	}
	.clear-history {
		color: $accent;
	    grid-column: 3;
	    cursor: pointer;
	}
}

.button-section {
    grid-template-columns: auto 15px 150px;
    padding: 30px 20px 60px;
	input {
	    padding: 12px 18px;
	    border-radius: 3px;
		background: $light-background;
	    -webkit-appearance: none;
	    border: 0;
	    outline: none;
	    font-size: 1rem;
		font-family: $RobotoLight;
		color: $primary-text;
		&::placeholder {
			color: $disabled-button;
		}
		&[type="submit"] {
			color: $disabled-button;
			background: $disabled-button-background;
		    transition: 0.2s;
		    grid-column: 3;
			&.active {
				cursor: pointer;
				background: $accent;
				color: white;
			}
			&:not(.active){
				pointer-events: none;
			}
		}
	}
}

.info-section {    
	grid-template-columns: auto 4.375rem 6.875rem;
	color: $secondary-text;
	text-transform: uppercase;
    font-size: 0.875rem;
}
.link-section {     
	padding: 0;
	.link-item {   
		grid-template-columns: auto 4.375rem 6.875rem;
		position: relative;
	    align-items: center;
	    display: grid;
	    padding: 15px 20px;
		&:before {
		    content: " ";
			background: transparent;
		    position: absolute;
		    left: 0;
		    top: 0;
		    height: 100%;
		    width: 4px;
		    transition: 0.2s;
		}
		&.red {
			&:before {
				background: $accent;
			}
		}
		.links {
			.top-section {
			    cursor: pointer;
			    padding: 4px 0;
				.short-link {
				    padding: 1px 0;
					color: $primary-text;
				    font-size: 0.875rem;
					span {
						color: $accent;
						font-size: 1rem;
					}
				}
				.hover-text {
				    padding: 1px 0;
					font-family: $RobotoLight;
					color: $accent;
				}
				@media(min-width:660px){
			    display: inline-grid;
			    grid-template-columns: max-content auto;
					.hover-text {
						display: none;
						text-align: center;
					}
					&:hover {
						display: grid;
						.hover-text {
							display: block;
						}
					}
				}
			}
			.long-link {
				color: $unimportant-text;
				font-family: $RobotoLight;
			    padding: 4px 0;
			}

		}
		.visits, .last-visited {
			font-family: $RobotoLight;
			color: $primary-text;
		}
	}
}

#copyBox {
    width: 1px;
    height: 1px;
    border: 0;
    opacity: 0;
    padding: 0;
}


