@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Light';
  src: url("/fonts/Roboto-Light.ttf") format("truetype"); }

html {
  font-size: 16px; }
  @media (max-width: 680px) {
    html {
      font-size: 14px; } }
  @media (max-width: 500px) {
    html {
      font-size: 12px; } }
  @media (max-width: 400px) {
    html {
      font-size: 11px; } }

body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  max-width: 660px;
  margin: 25px auto; }

section {
  display: grid;
  padding: 15px 20px; }

.col-2, .col-3 {
  text-align: center; }

.header-section {
  grid-template-columns: min-content auto max-content;
  align-items: baseline; }
  @media (max-width: 500px) {
    .header-section {
      display: block;
      text-align: center; } }
  .header-section h1 {
    margin: 5px 0;
    font-family: "Montserrat", helvetica, arial, sans-serif;
    font-size: 2.938rem;
    line-height: 1.125em;
    color: #eb4a42;
    display: inline-block;
    border-radius: 3px;
    position: relative; }
    .header-section h1:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      left: 0;
      background: #eb4a42;
      border-radius: 3px; }
  .header-section p {
    margin: 5px 0;
    font-family: "Roboto Light", helvetica, arial, sans-serif;
    color: #aaa;
    grid-column: 3; }

.previous-section {
  grid-template-columns: max-content 25px max-content;
  align-items: center;
  font-family: "Roboto Light", helvetica, arial, sans-serif; }
  .previous-section .previous {
    font-size: 1.375rem;
    color: #555; }
  .previous-section .clear-history {
    color: #eb4a42;
    grid-column: 3;
    cursor: pointer; }

.button-section {
  grid-template-columns: auto 15px 150px;
  padding: 30px 20px 60px; }
  .button-section input {
    padding: 12px 18px;
    border-radius: 3px;
    background: #eaeaea;
    -webkit-appearance: none;
    border: 0;
    outline: none;
    font-size: 1rem;
    font-family: "Roboto Light", helvetica, arial, sans-serif;
    color: #555; }
    .button-section input::placeholder {
      color: #bfbfbf; }
    .button-section input[type="submit"] {
      color: #bfbfbf;
      background: #e0e0e0;
      transition: 0.2s;
      grid-column: 3; }
      .button-section input[type="submit"].active {
        cursor: pointer;
        background: #eb4a42;
        color: white; }
      .button-section input[type="submit"]:not(.active) {
        pointer-events: none; }

.info-section {
  grid-template-columns: auto 4.375rem 6.875rem;
  color: #aaa;
  text-transform: uppercase;
  font-size: 0.875rem; }

.link-section {
  padding: 0; }
  .link-section .link-item {
    grid-template-columns: auto 4.375rem 6.875rem;
    position: relative;
    align-items: center;
    display: grid;
    padding: 15px 20px; }
    .link-section .link-item:before {
      content: " ";
      background: transparent;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
      transition: 0.2s; }
    .link-section .link-item.red:before {
      background: #eb4a42; }
    .link-section .link-item .links .top-section {
      cursor: pointer;
      padding: 4px 0; }
      .link-section .link-item .links .top-section .short-link {
        padding: 1px 0;
        color: #555;
        font-size: 0.875rem; }
        .link-section .link-item .links .top-section .short-link span {
          color: #eb4a42;
          font-size: 1rem; }
      .link-section .link-item .links .top-section .hover-text {
        padding: 1px 0;
        font-family: "Roboto Light", helvetica, arial, sans-serif;
        color: #eb4a42; }
      @media (min-width: 660px) {
        .link-section .link-item .links .top-section {
          display: inline-grid;
          grid-template-columns: max-content auto; }
          .link-section .link-item .links .top-section .hover-text {
            display: none;
            text-align: center; }
          .link-section .link-item .links .top-section:hover {
            display: grid; }
            .link-section .link-item .links .top-section:hover .hover-text {
              display: block; } }
    .link-section .link-item .links .long-link {
      color: #ccc;
      font-family: "Roboto Light", helvetica, arial, sans-serif;
      padding: 4px 0; }
    .link-section .link-item .visits, .link-section .link-item .last-visited {
      font-family: "Roboto Light", helvetica, arial, sans-serif;
      color: #555; }

#copyBox {
  width: 1px;
  height: 1px;
  border: 0;
  opacity: 0;
  padding: 0; }
